* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 280px;
}
.navbar {
    display: flex;
    align-items: center;
    margin: auto;
    
}

nav {
    flex: 1;
    text-align: right;
    font-size: 25px;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

a {
    text-decoration-line: none;
    color: #555;

}

p {
    color: #555;
}

.container {
    max-width: 1200px;
    position: relative;
    display:block;
    padding: 8px 30px;
    margin: 30px 0;

}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.col-2 img {
    max-width: 100%;
 

}

.col-2 h1 {
    font-size: 50px;
    line-height: 50px;
   
}

.btn {
    display: inline-block;
    background: rgb(20, 12, 17);
    color: rgb(239, 238, 243);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 45px;
    transition: background 0.5s;
    width: 50;
    height: 20;

}

.btn:hover {
    background: #b08fef;
}

.header {
    background: radial-gradient(#fff, rgb(233, 195, 5));
}

.header.row {
    margin-top: 30px;
}
.logo{
    margin: auto;
}
.size{
    font-size: 25px;
    align-items:center;
}
.categories {
    margin: 50px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;

}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 250px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.content{
    flex: 2;
    padding: 20px;
    margin-top: 60px;
}
.col-4 img {
    width: 100%;

}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
   

}

.h1 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating.fa {
    color: rgb(89, 0, 255);
}

.col-4 :hover {
    transform: translateY(-5px);
}

/*---------offer-------*/

.offer {
    background: radial-gradient(#fff, rgb(103, 238, 7));
    border-radius: 10%;

}

.col-2.offer-img {
    padding: 60px;
    
}

small {
    color: rgb(11, 10, 9);

}

/*---------testimonial------*/
.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 20px 20px;
    box-shadow: 0px 0px 10px rgb(199, 184, 228);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 40px;
    margin-top: 20px;
    border-radius: 40%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-size: 600;
    color: #555;
    font-size: 16px;
}

.brands {
    margin: 100px auto;
}

col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);


}

< !-----footer--------->.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;

}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;

}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.Deasign_By {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*-----------Media-----------------------*/
@media only screem and (max-width:80px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

    }
}